<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>
<script>
    alert("사용자가 만료 되었거나 수정권한이 없습니다. 재 로그인 또는 확인 부탁드립니다.")
    window.location = "/"
</script>

</html>