<!DOCTYPE html>
<html>
  <head>
    <title>아이디찾기</title>
    <link rel="stylesheet" href="/css/find.css">
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="form-sign-in-container">
        <div id="join_title">
        <h1>아이디찾기</h1>
        </div>
        <!-- 이메일 -->
        <div class="content">
          <input type="email" placeholder="이메일" id="user_email" name="email" class="id" maxlength="30" />
          <button onclick="sendauth()" id="email_ctf_btn" class="checkbtn_disable3" disabled>인증번호 발송</button>
        </div>
        <!-- 이메일 인증번호 -->
        <div class="content">
        <input
          type="text"
          id="email_auth"
          name="email_ctf"
          class="id"
          placeholder="인증번호"
        />
        <!-- 인증번호 검사 버튼 -->
        <button onclick="checkauth()" id="" class="checkbtn_disable">인증번호 확인</button>
        </div>
          <!-- 이름 -->
          <div class="content">
          <input
            type="text"
            placeholder="이름"
            id="user_name"
            name="name"
            class="id"
            maxlength="10"
          />
          </div>
          <!-- 연락처 -->
          <div class="content">
          <input
            type="text"
            placeholder="연락처(- 없이 입력)"
            id="user_phoneNum"
            name="phone"
            class="phoneNum"
            maxlength="20"
          />
          </div>
          <!-- 비밀번호 재설정 button -->
          <button
          onclick="idfind()"
            class="btn"
          >
            내 아이디 찾기
          </button>
      </div>
      <script>
        // 이메일 입력 시
        user_email.onkeyup = function(){
            let val = user_email.value;
            if(val == ""){
              document.querySelector('.checkbtn_disable3').disabled = true;
              document.querySelector('.checkbtn_disable3').classList.remove('checkbtn_able3');
            }else{
              document.querySelector('.checkbtn_disable3').disabled = false;
              document.querySelector('.checkbtn_disable3').classList.add('checkbtn_able3');
            }
        }
        // 인증번호 입력 시
        email_auth.onkeyup = function() {
          let val = email_auth.value;
          if(val == ""){
              document.querySelector('.checkbtn_disable').disabled = true;
              document.querySelector('.checkbtn_disable').classList.remove('checkbtn_able');
            }else{
              document.querySelector('.checkbtn_disable').disabled = false;
              document.querySelector('.checkbtn_disable').classList.add('checkbtn_able');
            }
        }
        // 이름 입력 시
        // name.onkeyup = function(){
        //     let val = name.value;
        // }
        // // 핸드폰 입력 시
        // phone.onkeyup = function(){
        //     let val = phone.value;
        // }
         
        // 모든 조건 입력 시 버튼 활성화
    //     window.onkeyup = function(){
    //     if(a == 1 && b == 1 && c == 1 && d == 1) {
    //         document.querySelector('.btn').disabled = false;
    //     }else{
    //         document.querySelector('.btn').disabled = true;
    //     }
    // }
        // 버튼 클릭 시 서버에 값 전송
        const sendauth = ()=>{
        $.ajax({
            url: '/findemail',
            type: 'post',
            data: {
                email : user_email.value,
            },
            success: function(data){
                if(data == 'notuser') {
                    alert('회원정보를 다시 확인해주세요');
                }else if(data == 'success'){
                    alert("인증번호 발송 완료 수신 안될 시 스팸메일함 확인")
                }else alert("예기치 않은 에러 발생 지속적으로 발생 시 관리자 문의 요망")
            }
        })
    }
    const checkauth = ()=>{
      $.ajax({
            url: '/authcheck',
            type: 'post',
            data: {
                authnumber : email_auth.value,
            },
            success: function(data){
              switch (data) {
                case "timeover":
                alert('시간초과 인증번호 재 발송 부탁드립니다.');
                  break;
                  case "suc":
                  alert("인증번호 확인 완료")
                  break;
                  case "fail":
                    alert("인증번호가 올바르지 않습니다.");
                    break;
                default:
                alert("예기치 않은 에러 발생 지속적으로 발생 시 관리자 문의 요망")
                  break;
              }
            }
        })
    }
    const idfind = ()=>{
      console.log("버튼 눌림")
      $.ajax({
        url:"/findid",
        type:"post",
        data:{
          email:user_email.value,
          authnumber:email_auth.value,
          name: user_name.value,
          phoneNum : user_phoneNum.value
        },success:(data)=>{
          switch (data) {
            case "success":
              alert("인증에 성공하였습니다.")
              window.location = "/myid"
              break;
            case "notfound":
              alert("사용자 정보가 확인되지 않습니다. 이름 및 전화번호 확인 부탁드립니다.")
              break;
          case "failed":
            alert("이메일이 인증되지 않았거나 올바르지 않은 인증정보 입니다. 재 인증 또는 확인 부탁드립니다.")
            break;
            case "notnull":
              alert("빠짐없이 빈칸 모두 입력 바랍니다.")
              break;
            default:
              alert("예기치 못한 오류 발생 지속 발생 시 관리자 문의 요망")
              break;
          }
        }
      })
    }
      </script>
  </body>
</html>