<!DOCTYPE html>
<html>
  <head>
    <title>아이디찾기</title>
    <link rel="stylesheet" href="/css/find.css">
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="form-sign-in-container">
        <div id="join_title">
        <h1>아이디찾기</h1>
        </div>
        <!-- 이메일 -->
        <div class="content">
          <input type="email" placeholder="이메일" id="user_email" name="email" class="id" maxlength="30" />
          <button onclick="sendauth()" id="email_ctf_btn" class="checkbtn_disable3" disabled>인증번호 발송</button>
        </div>
        <!-- 이메일 인증번호 -->
        <div class="content">
        <input
          type="text"
          id="email_auth"
          name="email_ctf"
          class="id"
          placeholder="인증번호"
        />
        <!-- 인증번호 검사 버튼 -->
        <button onclick="" id="" class="checkbtn_disable">인증번호 확인</button>
        </div>
          <!-- 이름 -->
          <div class="content">
          <input
            type="text"
            placeholder="이름"
            id="user_name"
            name="name"
            class="id"
            maxlength="10"
          />
          </div>
          <!-- 연락처 -->
          <div class="content">
          <input
            type="text"
            placeholder="연락처(- 없이 입력)"
            id="user_phoneNum"
            name="phone"
            class="phoneNum"
            maxlength="20"
          />
          </div>
          <!-- 비밀번호 재설정 button -->
          <button
          onclick="emailfind()"
            type="submit"
            class="btn"
            disabled="disabled"
          >
            내 아이디 찾기
          </button>
      </div>
      <script>
        // 이메일 입력 시
        email.onkeyup = function(){
            let val = email.value;
            if(val == ""){
              document.querySelector('.checkbtn_disable3').disabled = true;
              document.querySelector('.checkbtn_disable3').classList.remove('checkbtn_able3');
            }else{
              document.querySelector('.checkbtn_disable3').disabled = false;
              document.querySelector('.checkbtn_disable3').classList.add('checkbtn_able3');
            }
        }
        // 인증번호 입력 시
        email_ctf.onkeyup = function() {
          let val = email_ctf.value;
          if(val == ""){
              document.querySelector('.checkbtn_disable').disabled = true;
              document.querySelector('.checkbtn_disable').classList.remove('checkbtn_able');
            }else{
              document.querySelector('.checkbtn_disable').disabled = false;
              document.querySelector('.checkbtn_disable').classList.add('checkbtn_able');
            }
        }
        // 이름 입력 시
        // name.onkeyup = function(){
        //     let val = name.value;
        // }
        // // 핸드폰 입력 시
        // phone.onkeyup = function(){
        //     let val = phone.value;
        // }
         
        // 모든 조건 입력 시 버튼 활성화
    //     window.onkeyup = function(){
    //     if(a == 1 && b == 1 && c == 1 && d == 1) {
    //         document.querySelector('.btn').disabled = false;
    //     }else{
    //         document.querySelector('.btn').disabled = true;
    //     }
    // }
        // 버튼 클릭 시 서버에 값 전송
        document.querySelector('.btn').onclick = function(e){
        $.ajax({
            url: '/checkPerson',
            type: 'post',
            data: {
                email : email.value,
                name : name.value,
                phone : phone.value,
            },
            success: function(data){
                if(data == 'fail') {
                    alert('회원정보를 다시 확인해주세요');
                }else if(data == 'success'){
                    location.href = '/viewEmail';
                }
            }
        })
    }
      </script>
  </body>
</html>