<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cat mario</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <!-- ranking icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body id="bg">
    <!-- 게임 제목 -->
    <div id="header"></div>
    <!-- loogin 및 ranking Main div 생성 -->
    <div id="logBody">
      <!-- loogin position 구성할 div 생성-->
      <div id="logBodyLeft">
        <div class="log_icon">
          <img
            class="img_log"
            src="/image/premium-icon-user-552848.png"
            alt=""
          />
        </div>
        <!-- loogin content1 -->
        <div class="login">
          <div class="img_center">
            <img class="img_id" src="/image/pngwing.com.png" alt="" />
          </div>
          <input
            class="user_id"
            type="text"
            maxlength="50"
            placeholder="User ID"
            name="user_id"
          />
        </div>
        <!-- loogin content2 -->
        <div class="login">
          <!-- <h3 class="log_pw">
            <label for="id">비밀번호</label>
          </h3> -->
          <div class="img_center">
            <img class="img_id" src="/image/pngwing1.com.png" alt="" />
          </div>
          <input
            class="user_pw"
            type="password"
            maxlength="30"
            placeholder="Password"
            name="password"
          />
        </div>
        <div id="joinFind">
          <a
            href="/join"
            onclick="window.open(this.href,'회원가입','width=800px , height=800px , toolbar-no , scrollbars=yes'); return false;"
            ><span>Sign up</span></a
          >
          <a href="/find"
          onclick="window.open(this.href,'이메일 및 비밀번호 찾기','width=800px , height=650px , toolbar-no , scrollbars=yes'); return false;"
          ><span>Forgot Email/Password?</span></a>
        </div>
        <!-- loogin content3 -->
        <div class="log_btn1">
          <div class="log_btn-outline">
            <button class="log_btn2" onclick="login()">LOGIN</button>
          </div>          
        </div>
      </div>
      <!-- 오른쪽 화면단 -->
      <!-- 경환아 이 부분이야 -->
      <div class="right-basic">
        <div id="right-header">게시판</div>
        <div class="hr-line"></div>
        <div>
          <div class="right-date-content">작성시간</div> <!-- id="writing-time"-->
          <div class="right-date-content">제목</div> <!-- id="right-date-title"-->
          <div class="right-date-content">닉네임</div> <!-- id="nickname"-->
          <div class="right-date-content">조회수</div> <!-- id="click-views"-->          
        </div>
        <button id="right-clickbtn"><a href="/writing" onclick="window.open(this.href,'글쓰기','width=800px , height=650px , toolbar-no , scrollbars=yes'); return false;">글쓰기</a></button>        
      </div>
  </body>
  <script type="module" src="/js/app.js"></script>
  <script>
    function login(){
      let id = $(".user_id").val();
      let pw = $(".user_pw").val();
      $.ajax({
        url:"/login",
        type:"post",
        data:{
          id: id,
          pw: pw,
        },success: (data)=>{
          if (data == 'fail') {
            alert("로그인 실패 Eamil/Password 확인해주세요")
            location.reload();
          }else if(data == "login true"){
            location.href = '/mypage';
          }
          else {
            alert("잘못된 요청입니다.")
            location.reload();
          }
        }
      })
    }
  </script>
</html>