<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cat mario</title>
    <link rel="stylesheet" href="/css/login(keep).css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body id="bg">
    <div id="logBody">
      <div id="logBodyLeft">
        <div class="leftTop">
          <div class="comment"><%=id %>님 환영 합니다</div>
        </div>
        <div class="leftMiddle"></div>
        <div class="leftBottom">
          <button class="log_btn2">START</button>
          <div id="joinFind">
            <a href="/deletesession"><span>[Logout]</span></a>
            <a href="/mypage"><span>[mypage]</span></a>
          </div>
        </div>
      </div>
      <div id="logBodyRight"></div>
    </div>
  </body>
  <script type="module" src="/js/app.js"></script>
  <script></script>
</html>
