<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/mypage_edit.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <!-- 마이페이지 수정창 -->
    <div class="container">
      <div class="inner-container">
        <div class="mypage-top">
          <div class="title">마이페이지</div>
          <div class="mypage"><%= data.user_id %></div>
          <div class="mypage"><%= data.user_email %></div>
          <div class="mypage"><%= data.user_phone %></div>
        </div>
        <div class="column-item">
          <input type="password" class="password" placeholder="현재 비번" />
          <input
            type="password"
            class="password"
            placeholder="변경할 비밀번호"
          />
          <input
            type="password"
            class="password"
            placeholder="변경할 비밀번호 재 입력"
          />
          <button class="save-btn">저장</button>
        </div>
      </div>
    </div>
  </body>
  <script>
    window.onload(
      $.ajax({
        url: "/mypage",
        type: "get",
        data: {},
        success: (data) => {
          switch (data) {
            case "tokenfail":
              window.location = "/";
              break;
            default:
              break;
          }
        },
      })
    );
  </script>
</html>
