<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    이메일<input type="text" id="email" /><button onclick="email()">
      이메일 인증
    </button>
    인증 번호<input type="" id="authnumber" />
    <button onclick="emailauth()">인증 번호 확인</button> 아이디<input
      type="text"
      id="id"
    />
    <button onclick="idcheck()">아이디 중복 확인</button>
    비밀번호<input type="password" id="pw" />
    <button onclick="signupclick()">회원가입</button>
  </body>
  <script src="/js/signup.js"></script>
</html>
