<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글쓰기</title>
    <link rel="stylesheet" href="/css/writing.css" />
  </head>
  <body>
    <div>
      <input type="text" id="writing-title" placeholder="제목" />
      <input type="text" id="writing-contents" placeholder="내용" />
      <button id="btn-writing">등록</button>
    </div>
  </body>
</html>
