* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#header {
  margin: 0 auto;
  /* max-width: 768px;
  min-width: 460px; */
  height: 50px;
  padding-top: 130px;
  position: relative;
  font-size: 50px;
}

#bg {
  background-color: black;
  position: relative;
}

input::placeholder {
  font-size: 13px;
  color: black;
  text-align: start;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Nanum Myeongjo", serif;
}

input:focus::placeholder {
  color: transparent;
  opacity: 0;
}

#logBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  /* max-width: 800px; */
  height: 800px;
  margin: 0 auto;
  display: flex;
  border-radius: 20px;
}

#logBodyLeft {
  width: 500px;
  margin: 0 auto;
  height: 100%;
  padding: 50px;
}

.login {
  padding-top: 15px;
  font-size: 13px;
  display: flex;
  margin-bottom: 20px;
}

.log_icon {
  padding-top: 70px;
  padding-bottom: 80px;
}
.img_log {
  width: 150px;
  height: 150px;
  opacity: 0.7;
}

.img_id {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.img_center {
  margin: auto 0;
}

.log_pw {
  padding-top: 30px;
  padding-bottom: 10px;
}
.user_id {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px black;
  border-width: 0 0 1px 0;
  padding: 10px 14px 10px 14px;
  vertical-align: top;
  outline: none;
  text-align: start;
  text-shadow: 0 0 0 black;
}
.user_pw {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px black;
  border-width: 0 0 1px 0;
  padding: 10px 14px 10px 14px;
  vertical-align: top;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 black;
  text-align: start;
}
.log_btn1 {
  padding-top: 20px;
  box-sizing: border-box;
}

.log_btn2 {
  border: solid 3px rgb(43, 37, 37);
  position: relative;
  width: 90%;
  height: 50px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  background: rgba(63, 56, 56, 0);
  font-weight: 600;
  color: rgb(43, 37, 37);
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  margin-left: 20px;
  letter-spacing: 5px;
  font-family: "Nanum Gothic Coding", monospace;
}

.log_btn2:hover {
  background: rgb(117, 9, 9);
  color: rgb(223, 207, 207);
  border: solid 0.5px rgb(223, 207, 207);
  transition: 0.3s;
}

.logout_btn {
  position: relative;
  width: 40%;
  height: 60px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  background-color: black;
  color: aliceblue;
  font-weight: 600;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  float: right;
  margin-right: 20px;
}

#joinFind {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#joinFind > a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: lighter;
}
#joinFind > a:hover {
  transform: scale(1.1);
  font-weight: 500;
  transition: all 0.2s;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  margin: auto 0;
}

.main {
  width: 100%;
  height: 50px;
}

.img_md {
  width: 50px;
  height: 50px;
}

.main1 {
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 30px;
}

.color {
  color: white;
}

.hr-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
}
.right-basic {
  position: relative;
  padding: 50px;
  width: 500px;
  border-left: 1px solid black;
}

#right-header {
  float: left;
  margin-bottom: 5px;
}

.right-date-content {
  display: inline;
  margin: 5px 20px;
}

#right-clickbtn {
  position: absolute;
  right: 12%;
  bottom: 20%;
  border: solid 3px rgb(43, 37, 37);
  width: 30%;
  height: 50px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  background: rgba(63, 56, 56, 0);
  font-weight: 600;
  color: rgb(43, 37, 37);
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
  margin-left: 20px;
  letter-spacing: 5px;
  font-family: "Nanum Gothic Coding", monospace;
}

#right-date-title {
  width: 100px;
  background-color: skyblue;
}
