* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#bg {
  background-color: black;
  position: relative;
}

#logBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  /* max-width: 800px; */
  width: 800px;
  height: 500px;
  display: flex;
  border-radius: 20px;
}

#logBodyLeft {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.leftTop {
  width: 100%;
  height: 20%;
}
.comment {
  width: 100%;
  margin-top: 50px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
  font-weight: bold;
}

.leftMiddle {
  width: 100%;
  height: 40%;
}

.leftBottom {
  width: 100%;
  height: 40%;
  margin: auto 0;
}

#logBodyRight {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  border: solid thin rgba(27, 26, 26, 0.3);
  border-width: 0 0 0 1px;
}

.log_btn2 {
  border: solid 3px rgb(43, 37, 37);
  position: relative;
  width: 90%;
  height: 80px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  background: rgba(63, 56, 56, 0);
  font-weight: 600;
  color: rgb(43, 37, 37);
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  letter-spacing: 5px;
  font-family: "Nanum Gothic Coding", monospace;
}

.log_btn2:hover {
  background: rgb(117, 9, 9);
  color: rgb(223, 207, 207);
  border: solid 1px rgb(223, 207, 207);
  transition: 0.3s;
}

#joinFind {
  padding-top: 20px;
  margin-bottom: 20px;
}

#joinFind > a {
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
}
#joinFind > a:hover {
  color: rgb(135, 2, 2);
  transform: scale(1.1);
  transition: all 0.2s;
}
