* {
  box-sizing: border-box;
  margin: 0;
  /* text-align: center; */
}

input {
  text-align: left;
}

#writing-title {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 600px;
}

#writing-contents {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 600px;
  height: 450px;
}

#btn-writing {
  position: absolute;
  width: 150px;
  bottom: 13%;
  right: 16%;
}
